footer{
  display: flex;
  flex-direction: column;


  a{
  img{
    width: 40%;
    height: 40%;
    margin-top: 5px;
  }
}

  .info-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;

    .instagram:hover{
      color: $color-instagram;
    }

    .facebook:hover{
      color: $color-facebook;
    }

    .twitter:hover{
      color: $color-twitter;
    }

    .fleche{
      border: 2px solid $color-title;
      color: $color-title;
      border-radius: 50%;
      height: 35px;
      width: 35px;

      display: flex;
      justify-content: center;
      align-items: center;

      margin: 0 10px 5px 0;
    }


    div{
      padding: 0 5px;
      i{
        font-size: $fz-h5;
        margin: 0 5px;
      };
    }

    p{
    margin: 0;
  }

  }
}

.anim {
  cursor: pointer;
  display: inline-block;
  line-height: 2.7em;
  outline: none;
  position: relative;
  transition: all 0.3s;
}
.anim:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  border-radius: inherit;
  right: 100%;
  background-color: rgba(255, 0, 0, 0.15);
  transition: all 0.3s;
}
.anim:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateY(5px);
  background-color: inherit;
  z-index: -1;
}
.anim:hover:after{
  right: 0;
}
@media screen and (min-width: $vw-huge){

  footer{
    padding-bottom: 15px;
    a{
      img{
        width: 50%;
        height: 50%;
      }
    }

    .icone{
      .fas, .fab
      {
        font-size: $fz-h4;
      }
    }
  }
}