nav {

  h1 {
    margin: 10px 10px;
  }

  .showMenu {
    position: absolute;
    right: 20px;
    top: 37px;
  }

  .toggle-menu {
    display: none;
  }

  .toggle-menu:checked + ul {
    display: block;
  }

  ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0 0 10px 10px;
  }

  li {
    a {
      display: inline-block;
      padding: 10px 5px;
      width: 100%;
    }
  }

}


@media screen and (min-width: $vw-medium) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
      padding: 20px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .showMenu {
        display: none;
      }

      ul {
        display: flex;

        li {
          margin: 0 10px;

        }
      }
    }

  }
  .main-menu * {
     box-sizing: border-box;
     -webkit-transition: all 0.35s linear;
     transition: all 0.35s linear;
   }
  .main-menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1em;
    overflow: hidden;
  }
  .main-menu a {
    backface-visibility: hidden;
    display: block;
    line-height: 2em;
    padding: 0.1em;
    position: relative;
  }
  .main-menu a:after {
    transition: all 0.35s linear;
    color: $color-title;
    content: attr(data-hover);
    top: 0;
    line-height: 2em;
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: rotateX(0deg);
  }
  .main-menu li:hover a,
  .main-menu li.current a {
    transform: rotateX(360deg);
    color: transparent;
  }
  .main-menu li:hover a:after,
  .main-menu li.current a:after {
    opacity: 1;
  }
}