
.main-film h2{
  text-align: center;
  margin: 10px 0;
}

.main-film p{
  padding: 0 10px;
  margin: 0;
}

.acteur{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.credit-acteur{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.nomActeur{
  font-weight: bold;
}

p.label{
  margin-top: 10px;
  font-weight: bold;
}

p.dateParution{
  margin: 10px 0;
}

p.description-film{
  margin: 10px 0;
}

.formCommentaire{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

textarea{
  margin: 10px 0;
}

.commentaireDeja{
  border: 2px solid $color-title;
  border-radius: 10px;
  margin: 30px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commentaireDeja p{
  margin: 5px 0;
}

.main-film img{
  width: 100%;
}

@media screen and (min-width: $vw-medium){
  .credit-acteur{
    width: 30%;
  }
}

@media screen and (min-width: $vw-huge){
  .credit-acteur{
    width: 15%;
  }

  .commentaireDeja{
    width: 30%;

  }

  .commentaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}