.template {
  display: none;
}

.main {
  .film {
    background-color: $color-bg-page;
    border-radius: 10px;
    margin: 20px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 10px;
  }

  .lienFilmAffiche{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lienFilmAffiche:visited{
    color: $black;
  }


  h2 {
    margin: 10px;
    text-align: center;
  }

  .lienFilm{
    background-color: $color-title;
    color: $white;
    padding: 5px 15px;
    border-radius: 5px;
  }

  img {
    width: 75%;
  }

  .etoile{
    margin-top: 10px;
  }

  .rating{
    margin-bottom: 10px;
  }

  .annee{
    margin-bottom: 10px;
  }

  .description{
    margin-bottom: 20px;
  }

  p{
    margin: 0;
  }
}



.film {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.film *,
.film:before,
.film:after {
  box-sizing: border-box;
  transition: all 0.4s ease;
}

.film img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.film:before,
.film:after {
  content: '';
  background-color: $color-title;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.film:before {
  width: 300px;
  height: 2px;
}

.film:after {
  height: 300px;
  width: 2px;
}


.film:hover{
  zoom: 1;
  filter: alpha(opacity=25);
  opacity: 0.75;
}

.film:hover:before,
.film:hover:after{
  opacity: 1;
}

.film:hover:before{
  width: 50px;
}

.film:hover:after{
  height: 50px;
}


@media screen and (min-width: $vw-medium) {
  .main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    article.film {
      width: 45%;
    }
  }
}

@media screen and (min-width: $vw-huge) {
  .main {
    article.film {
      width: 30%;
    }
  }
}