.swiper-container{
  height: 400px;
  width: 100%;
}

.lienFilmSwiper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lienFilmSwiper:visited{
  color: $black;
}

.swiper-slide {
 display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.information{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(253,187,45,0) 100%);
  width: 100%;
  height: 100%;
}

.information p{
  font-size: $fz-h3;
  margin: 0 0 15px 0;
}

.information h2{
  text-align: center;
}

.swiper-slide img{
  width: 100%;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: $color-title;
  opacity: 1;
}

span.swiper-pagination-bullet{
  opacity: 0.5;
}

